:root{
    --bs-peach : #FFE6E6;
    --bs-pink : #e1afd1;
    --bs-purple1 : #AD88C6;
    --bs-purple2 : #7469b6;
    --bs-black: rgba(0, 0, 0, 0.614);
    --bs-white: #fff;
}
body {
    background-color: var(--bs-peach);
}
.navbar-right {
    margin-left: auto;
}
#main-nav {
    background-color: var(--bs-purple2);
}
#main-nav-logo,
#navbar-links .nav-link{
    color: var(--bs-white);
}
.feed{
    margin-top: 1rem;
}
/* login */
#login{
    height: 90vh;
    width: 100vw;
    
    align-items: center;
}
#login,
.login-text{
    display: flex; 
    justify-content: center;
}
.login-text{
    flex-direction: column;
    padding-left: 12%;
}
.login .messages h1, 
.login .messages h3{
    color: var(--bs-purple2);
}
.login-text{
    width: 60%;
}

#login-form, 
#reg-form {
    background-color: var(--bs-white);
}
.iescpe-form-field{
    background-color: var(--bs-white);
}
#login-form-submit,
#reg-form-submit,
#campaign-form-submit{
    background-color: var(--bs-purple2);
    border-radius: 0.375rem;
}
#login-form-reg,
#reg-form-login{
    background-color: var(--bs-white);
    color: var(--bs-purple2);
    border-color: var(--bs-purple2);
}

/* form */
.form{
    padding: 2rem;
    margin: 12rem;
    border-radius: 20px;
    background-color: var(--bs-white);
}
.login-text.form .btn-1,
#campaign-form-submit .btn-1{
    background-color: var(--bs-darkpink);
    color: var(--bs-white);
}
.form-heading{
    text-align: center;
    color: var(--bs-darkpink);
    margin-bottom: 30px;
    background-color: var(--bs-white);
}
.flash{
    text-align: center;
}
/* registraion form */
.iescpe-form-user-type #user_type,
.iescpe-form-visibility #visibility{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border: none;
}
/* daskboard */
.dashboard{
    display: flex;
}
.dashboard-user-type{
    margin-left: auto; 
    margin-right: auto;
}
/* #sidebarMenu {
    position: fixed;
} */
.dashboard-heading{
    margin-bottom: 1.25rem;
}
/* add campaign */
.add-campaign {
    margin: 2rem;
}

.charts{
    height: 50vh; 
    background-color: #fff; 
    padding:0.5rem; 
    border-radius: 0.5rem;
}

#total-earning-chart{
    padding: 10px;
    background-color: #fff; 
    padding:0.5rem; 
    border-radius: 0.5rem;
    text-align: center;
}

.flag{
    background-color: rgba(255, 0, 0, 0.897);
    color: var(--bs-white);
    padding: 5px;
    text-align: center;
    border-radius: 0.5rem;
}