{% extends 'base.html' %}

{% block title %}
Find - IESCPE
{% endblock %}

{% block dashboard_nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i>Find</i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ url_for('find_sponsors') }}" class="dropdown-item">Sponsors</a>
        </li>
        <li>
            <a href="{{ url_for('find_influencer') }}" class="dropdown-item">Influencers</a>
        </li>
        <li>
            <a href="{{ url_for('find_campaign') }}" class="dropdown-item">Campaigns</a>
        </li>
        {% if current_user.user_type == 0 %}
        <li>
            <a href="{{ url_for('find_ad_request') }}" class="dropdown-item">AD Requests</a>
        </li>
        {% endif %}
    </ul>
</li>
{% if current_user.user_type == 2 %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('campaign_page') }}">Campaigns</a>
</li>
{% endif %}
{% if current_user.user_type != 0 %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('stats') }}">Stats</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="form shadow add-campaign">
    <h3 class="form-heading">Find Influencers</h3>
    <form method="POST" id="login-form">
        {{ form.hidden_tag() }}
        <div class="mb-3 iescpe-form-field">
            {{ form.search.label }}
            {{ form.search(class="form-control", placeholder="Search") }}
        </div>
        <div class="mb-3 iescpe-form-field">
            {{ form.search_by.label }}
            {{ form.search_by(class="form-control", placeholder="Search By") }}
        </div>
        <div class="d-grid gap-2 iescpe-form-field" id="campaign-form-submit">
            {{ form.submit(class = "btn btn-1") }}
        </div>
    </form>
    <hr>
    <h3 class="form-heading">Influencer </h3>
    {% if filtered_influencers %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <!-- <th scope="col">Sl no.</th> -->
                    <th scope="col">Profile Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">category</th>
                    <th scope="col">niche</th>
                    <th scope="col">Flag</th>
                    {% if current_user.user_type == 0 %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if filtered_influencers %}
                {% for influencer in filtered_influencers %}
                <tr>
                    <td>  
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">
                            <img src="{{ url_for('static', filename = './image/profile_pictures/'+influencer.user.profilePicture ) }}"
                            class="rounded float-start" alt="Iescp Influencer Profile Picture" style="width: 50px;">
                        </a>                          
                    </td>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">{{ influencer.user.fullname }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">{{ influencer.user.username }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">{{ influencer.user.email }}</a>
                    </td>
                    <td>
                        {{ influencer.category if current_user.influencer.category else "_"}}
                    </td>
                    <td>
                        {{ influencer.niche if current_user.influencer.niche else "_"}}
                    </td>
                    <td>
                        {% if influencer.user.flagged == 1 %}
                        <span class="flag">Flag Inappropriate</span>
                        {% endif %}
                    </td>
                    
                    {% if current_user.user_type == 0 %}
                    {% if influencer.user.flagged == 0 %}
                    <td>
                        <a href="{{ url_for('flag_profile', user=influencer.user.id ) }}">Flag Inappropriate</a> | 
                        <a href="{{ url_for('admin_delete_profile', user=influencer.user.id ) }}">Delete</a>
                    </td>
                    {% elif influencer.user.flagged == 1 %}
                    <td>
                        <a href="{{ url_for('unflag_profile', user=influencer.user.id ) }}">Unflag</a> |
                        <a href="{{ url_for('admin_delete_profile', user=influencer.user.id ) }}">Delete</a>
                    </td>
                    {% endif %}
                    
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9">No campaigns available.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <!-- <th scope="col">Sl no.</th> -->
                    <th scope="col">Profile Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Category</th>
                    <th scope="col">Niche</th>
                    <th scope="col">Flag</th>
                    {% if current_user.user_type == 0 %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if all_influencers %}
                {% for influencer in all_influencers %}
                <tr>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">
                            <img src="{{ url_for('static', filename = './image/profile_pictures/'+influencer.user.profilePicture ) }}"
                            class="rounded float-start" alt="Iescp Influencer Profile Picture" style="width: 50px;">
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">{{ influencer.user.fullname }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">{{ influencer.user.username }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('profile', user=influencer.user.id ) }}">{{ influencer.user.email }}</a>
                    </td>
                    <td>
                        {{ influencer.category if current_user.influencer.category else "_"}}
                    </td>
                    <td>
                        {{ influencer.niche if current_user.influencer.niche else "_"}}
                    </td>

                    <td>
                        {% if influencer.user.flagged == 1 %}
                        <span class="flag">Flag Inappropriate</span>
                        {% endif %}
                    </td>
                    
                    {% if current_user.user_type == 0 %}
                    {% if influencer.user.flagged == 0 %}
                    <td>
                        <a href="{{ url_for('flag_profile', user=influencer.user.id ) }}">Flag Inappropriate</a> | 
                        <a href="{{ url_for('admin_delete_profile', user=influencer.user.id ) }}">Delete</a>
                    </td>
                    {% elif influencer.user.flagged == 1 %}
                    <td>
                        <a href="{{ url_for('unflag_profile', user=influencer.user.id ) }}">Unflag</a> | 
                        <a href="{{ url_for('admin_delete_profile', user=influencer.user.id ) }}">Delete</a>
                    </td>
                    {% endif %}
                    
                    {% endif %}

                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9">No campaigns available.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>


{% endblock %}